/* Write your CSS here */

.destination-image-style {
  height: 130px;
  width: 200px;
}

.list-container {
  display: flex;
  flex-direction: column;

  list-style: none;
  margin-left: 16px;
  column-count: 3;
}

.img-description {
  font-family: Roboto;
  text-align: left;
}
